<header class="navbar navbar-expand-lg fixed-top bg-white">

    <div class="row cursor-pointer mb-4">
        <a class="col-2" href="{{ instagramLink }}" target="_blank"><i class="fab fa-instagram"></i>insta..</a>
        <a class="col-2" href="{{ githubLink }}" target="_blank"><i class="fab fa-github"></i>   gitHub..</a>
        <a class="col-2" href="{{ linkedinLink }}" target="_blank"><i class="fab fa-linkedin"></i>  linked..</a>
    </div>

    <div class="container justify-content-left mb-4 col-4">
        
        <a class="site-logo" routerLink="/">My-Blog</a>
    </div>  
</header>
